# Dzień pierwszy - bootcamp 13/10/2018
___
* podstawy linux
* podstawy GIT
* podstawy python

In [11]:
print("hello M")

hello M

In [12]:
print("łaka łaka")

łaka łaka

## Zmienne w Python
* Ciągi znaków (stringi)
* Liczby

### Ciągi znaków

In [25]:
zmienna_znakowa = 'Hello World !' #lepiej stosować pojedynczy cudzysłów, bo ma to później znaczenie

In [26]:
print(zmienna_znakowa) #tab podpowiada składnię

Hello World !

In [15]:
#chcemy mieć w tekście cydzysłów
#zmienna_znakowa2 = "Hello World " tekst " !" #tak nie zadziała
#print(zmienna_znakowa2)

In [16]:
zmienna_znakowa2 = "Hello World \" tekst \" !" #tak jest ok, oznaczamy\ znaki specjalne
print(zmienna_znakowa2)

Hello World " tekst " !

In [22]:
zmienna_znakowa2 = 'Hello World \" tekst \" !' #tak też jest ok
print(zmienna_znakowa2)

Hello World " tekst " !

# Dzień drugi - bootcamp 14/10/2018

### Konkatenacja znaków

#### Sposób 1 - stary

In [27]:
zmienna_znakowa + ' Adam'

'Hello World ! Adam'

#### Sposób 2 - format

In [36]:
uzytkownik='Adam'

In [40]:
print('{} {} !'.format(zmienna_znakowa,uzytkownik))

Hello World ! Adam !

In [42]:
#zalecany sposób konkatenacji
print('{ciag_znakow} {uzytkownik} !'.format(ciag_znakow=zmienna_znakowa,uzytkownik=uzytkownik))

Hello World ! Adam !

In [44]:
print('{0} {1} !'.format(zmienna_znakowa,uzytkownik))

Hello World ! Adam !

#### Sposób 3 - f-stringi
* od wersji Python 3.6

In [45]:
f'{zmienna_znakowa}{uzytkownik}'

'Hello World !Adam'

#### Slicing

In [54]:
zmienna_znakowa[3:5] #od którego do którego indexu, zakres [)

'lo'

In [56]:
# wziąć od 3 indeksu do ostatniego
zmienna_znakowa[3:]

'lo World !'

In [57]:
# wziąć co drugi znak
zmienna_znakowa[2::2]

'loWrd!'

In [60]:
zmienna_znakowa[2:8:2]

'loW'

In [61]:
#wziąć ostatni znak
zmienna_znakowa[-1]

'!'

In [53]:
#próba dostania się poza zakres zwroci bląd
zmienna_znakowa[16]

IndexError: string index out of range

#### Przyrównanie 
* przyrównianie za pomocą "==" 
* przypisanie za pomocą "=", ale stringów nie da się przypisać
* sprawdzenie czy różne "!="

In [62]:
zmienna_znakowa[-1] == '!'

True

In [64]:
zmienna_znakowa[-1] = '!'

TypeError: 'str' object does not support item assignment

In [65]:
zmienna_znakowa[-1] != '!'

False

#### Wyświetlenie długości zmiennej

In [66]:
len(zmienna_znakowa)

13

#### Sprawdzenie typu zmiennej

In [67]:
type(zmienna_znakowa)

str

In [71]:
a=7
type(a)

int

#### Usuwanie zmiennej

In [68]:
zm = 'DD'

In [69]:
del zm

In [70]:
zm

NameError: name 'zm' is not defined

#### Metody na stringach
* < nazwa_zmiennej >. + Tab
* dir(< nazwa_zmiennej >) - metody (specjalne metody z przedrostkiem "_")

In [74]:
# w ten sposób nie zmieniamy zmiennej, tylko ją inaczej wyświetlamy
zmienna_znakowa.upper()

'HELLO WORLD !'

In [76]:
dir(zmienna_znakowa)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

#### Jeśli chcemy sie czegoś dowiedzieć o metodzie:
* < nazwa_metody >?
* help(<nazwa_metody >)

In [77]:
dir?

In [78]:
help(dir)

Help on built-in function dir in module builtins:

dir(...)
    dir([object]) -> list of strings

    If called without an argument, return the names in the current scope.
    Else, return an alphabetized list of names comprising (some of) the attributes
    of the given object, and of attributes reachable from it.
    If the object supplies a method named __dir__, it will be used; otherwise
    the default dir() logic is used and returns:
      for a module object: the module's attributes.
      for a class object:  its attributes, and recursively the attributes
        of its bases.
      for any other object: its attributes, its class's attributes, and
        recursively the attributes of its class's base classes.

In [81]:
lista_uczestnikow= 'Ewelina,Tomek,Marta'

In [82]:
lista_uczestnikow.find('Tomek')

8

In [87]:
lista_uczestnikow.find?

#### Rozdzielenie stringa na listę

In [91]:
lista_uczestnikow.split?

In [92]:
lista_uczestnikow.split(',')

['Ewelina', 'Tomek', 'Marta']

In [98]:
lista_uczestników.split(',')[0]

'Ewelina'

In [100]:
lista_uczestników.split(',',1) # jeden podział - czyli 2 części, dla 2 podziałów 3 części

['Ewelina', 'Tomek,Marta']

In [101]:
wynik_splita=lista_uczestnikow.split(',')

#### Połączenie stringów - join

In [103]:
",".join(wynik_splita)

'Ewelina,Tomek,Marta'

#### Zadanie rozgrzewka

In [96]:
print('Hello \nWorld')

Hello
World

In [104]:
print('Hello \tWorld')

Hello 	World

### Zmienne liczbowe
* Całkowito liczbowe
* Zmiennoprzecinkowe

#### Całkowito liczbowe
* typ __int__

In [132]:
zmienna_liczba = 8

In [107]:
zmienna_liczba

8

In [109]:
zmienna_tekstowa = '8'

In [111]:
print(zmienna_liczba)

8

In [112]:
print(zmienna_tekstowa)

8

In [113]:
#wygląda tak samo ale sa rózne typy

In [115]:
type(zmienna_liczba)

int

In [116]:
type(zmienna_tekstowa)

str

#### Operacje na zmiennych liczbowych

In [133]:
zmienna_liczba = zmienna_liczba + 3

In [134]:
zmienna_liczba += 3

In [135]:
zmienna_liczba

14

In [137]:
zmienna_liczba *= 3

In [138]:
zmienna_liczba

126

In [139]:
zmienna_tekstowa *= 3

In [142]:
zmienna_tekstowa

'888'

In [143]:
dir(zmienna_tekstowa)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

#### Zadanie zmienne

In [172]:
pierwszy_uczestnik = 'Ania'

In [173]:
drugi_uczestnik = 'Tomek'

In [150]:
# pierwszy sposób
tmp = pierwszy_uczestnik
pierwszy_uczestnik = drugi_uczestnik
drugi_uczestnik = tmp
del tmp
print(pierwszy_uczestnik)
print(drugi_uczestnik)

In [153]:
drugi_uczestnik

'Ania'

In [174]:
# drugi sposób - typowy dla pythona
pierwszy_uczestnik, drugi_uczestnik = drugi_uczestnik , pierwszy_uczestnik
print(pierwszy_uczestnik)
print(drugi_uczestnik)

In [175]:
print(pierwszy_uczestnik)
print(drugi_uczestnik)

Tomek
Ania

#### Operacje
* +,-,*
* potęgowanie **
* dzielenie /
* dzielenie całkowite //
* dzielenie z resztą %
* pakiet __math__

In [176]:
2 ** 3

8

In [177]:
16 ** (1/2)

4.0

In [178]:
import math

In [179]:
math.sqrt(16)

4.0

In [180]:
math.pow(4,2)

16.0

In [181]:
112 / 3

37.333333333333336

In [182]:
112 // 3

37

In [189]:
112 % 3

1

### Typ zmiennoprzecinkowy
* typ __float__

In [190]:
zmienna_float = 3.14

In [191]:
zmienna_e = 2.71

In [192]:
type(zmienna_e)

float

In [193]:
zmienna_float * 2

6.28

In [194]:
math.e

2.718281828459045

#### Zaokrąglanie zmiennych

In [195]:
round(math.e)

3

In [197]:
round(math.e,2)

2.72

In [199]:
type(round(math.pi,0))

float

In [200]:
type(round(math.pi))

int

In [202]:
round(3.5)

4

### Round w Python 3 dziwnie działa !!!!!! Raz zaokrągla w dół raz w górę !!!!
* tak samo źle działa round w pakiecie numpy - trzeba jakoś ustawić, zeby było dobrze, nie wiemy na razie jak

In [203]:
import numpy as np

In [205]:
np.round(3.5)

4.0

In [207]:
np.round(14.5)

14.0

#### Konwersja typów
* Zmiana float na integer

In [208]:
zmienna_float

3.14

In [210]:
int(zmienna_float)

3

In [213]:
zmienna_float = 3.7

In [214]:
int(zmienna_float)

3

In [215]:
zmienna_liczba

126

In [217]:
float(zmienna_liczba)

126.0

### Listy
* typ __list__
* służy do zapisania wielu elementów np. wielu liczb cakowitych
* nawias __[]__

In [218]:
liczby = [1, 2, 5, 11]

In [219]:
type(liczby)

list

#### Slicing na listach

In [220]:
liczby[1:3] # od pierwszego indeksu do 2, bo [1,3) !!!

[2, 5]

In [221]:
len(liczby)

4

In [222]:
1 in liczby

True

In [223]:
6 in liczby

False

In [224]:
6 not in liczby

True

#### Dodawanie elementów do listy

In [225]:
liczby.append?

In [226]:
liczby.append(-1) # przyjmuje jako parametr jeden element

In [227]:
liczby.append(-8)

In [228]:
liczby.append(6)

In [242]:
liczby.extend([12,13,15]) # przyjmuje jako parametr listę

#### Sortowanie listy

In [229]:
liczby.sort() # zmienia listę

In [230]:
liczby

[-8, -1, 1, 2, 5, 6, 11]

In [233]:
liczby.sort(reverse=True)

In [236]:
liczby

[11, 6, 5, 2, 1, -1, -8]

In [238]:
sorted(liczby) # nie zmienia listy

[-8, -1, 1, 2, 5, 6, 11]

In [239]:
lista_plac = [ 4000, 5000, 3000, 8000]

In [240]:
len(lista_plac)

4

In [241]:
lista_plac.pop() #zwraca ostatnią wartość i wyrzuca element z listy

8000

In [243]:
lista_plac.extend([188,1088,2000])

In [244]:
lista_plac

[4000, 5000, 3000, 188, 1088, 2000]

### Zadanie stringi
* odpalanie poleceń linux w python
* aby przypisac zmienną trzeba dopisać "!"

#### sposób 1

In [255]:
wynik=!whoami
print('Zalogowany jesteś jako: {}'.format(wynik[0]))

Zalogowany jesteś jako: martyna

In [342]:
!ls -a | grep -vE "*.git$"

.
..
20181013_historia_bash
20181013_szkolenie_linux1.pptx
20181013_szkolenie_notatki.txt
20181013_terminal_1
20181014_szkolenie_git_python1.pptx
20181014_szkolenie_notatki.txt
.gitignore
.ipynb_checkpoints
README.md
Szkolenie_python.ipynb

In [328]:
pwd

'/home/martyna/code/md_repo'

In [289]:
sciezka = !pwd
print(sciezka)

['/home/martyna/code/md_repo']

In [343]:
ilosc = !ls -a | grep -vE "*.git$" | wc -l
print(ilosc)

['12']

In [336]:
print('W ścieżce {} jest {} plików'.format(sciezka[0],ilosc[0]))

W ścieżce /home/martyna/code/md_repo jest 12 plików

#### sposób 2

In [345]:
lista_plikow = !ls -a
lista_plikow.remove('.git')
lista_plikow

['.',
 '..',
 '20181013_historia_bash',
 '20181013_szkolenie_linux1.pptx',
 '20181013_szkolenie_notatki.txt',
 '20181013_terminal_1',
 '20181014_szkolenie_git_python1.pptx',
 '20181014_szkolenie_notatki.txt',
 '.gitignore',
 '.ipynb_checkpoints',
 'README.md',
 'Szkolenie_python.ipynb']

### Tuple
* typ __tuple__
* jest podobna do list
* niemutowalna (nie da się zmienić)
* nawias __()__

In [347]:
dni = ('pon', 'wt', 'sr', 'czw', 'pt')

In [348]:
type(dni)

tuple

In [349]:
len(dni)

5

In [351]:
del dni[1] # nie da się usunąć elementów

TypeError: 'tuple' object doesn't support item deletion

###  Słowniki
* typ __dict__
* potrzebny klucz i wartość
* nawiasy __{}__

In [363]:
slownik = {}

In [353]:
type(slownik)

dict

In [373]:
slownik = {'a': 'Ewelina', 22: 'Tomek', 13: 'Marta'}

In [374]:
print(slownik)

{'a': 'Ewelina', 22: 'Tomek', 13: 'Marta'}

In [375]:
slownik[2] # wpisujemy klucz

KeyError: 2

In [376]:
slownik[22]

'Tomek'

In [377]:
slownik.values()

dict_values(['Ewelina', 'Tomek', 'Marta'])

In [378]:
slownik.keys()

dict_keys(['a', 22, 13])

In [379]:
slownik.items()

dict_items([('a', 'Ewelina'), (22, 'Tomek'), (13, 'Marta')])

In [380]:
type(slownik.items()) # lista tupli

dict_items

In [381]:
slownik[45]='Adam' # dodanie nowego elementu do słownika

In [382]:
slownik

{'a': 'Ewelina', 22: 'Tomek', 13: 'Marta', 45: 'Adam'}

In [383]:
del slownik[45] # usuwanie elementu ze słownika

In [384]:
slownik

{'a': 'Ewelina', 22: 'Tomek', 13: 'Marta'}

### Zbiory
* typ __set__
* nawiasy __{}__
* nie ma powtarzających się wartości

In [387]:
moj_zbior = {1,2,2,2,3,4,9}

In [392]:
type(moj_zbior)

set

In [388]:
moj_zbior

{1, 2, 3, 4, 9}

In [389]:
moja_lista = [1,2,2,2,3,4,9]

In [390]:
moja_lista = list(set(moja_lista)) # usunięcie powtarzajacych się wartości z listy

In [391]:
moja_lista

[1, 2, 3, 4, 9]

In [393]:
A = {1, 2, 2, 3, 9}
B = {3, 9, 6, 7, 8}

#### Suma zbiorów, część wspólna, różnica

In [394]:
A|B

{1, 2, 3, 6, 7, 8, 9}

In [395]:
A & B

{3, 9}

In [396]:
A - B

{1, 2}

### None
* typ __NoneType__

In [397]:
A = None

In [400]:
A

In [401]:
str(A)

'None'

In [398]:
type(A)

NoneType

In [416]:
temperatury = [17,31,20,21,18,30,None]

In [417]:
temperatury

[17, 31, 20, 21, 18, 30, None]

In [418]:
temperatury.sort()

TypeError: '<' not supported between instances of 'NoneType' and 'int'

In [421]:
temperatury.remove(None)

In [422]:
temperatury

[17, 18, 20, 21, 30, 31]

In [423]:
temperatury.sort()

In [424]:
temperatury

[17, 18, 20, 21, 30, 31]

In [425]:
sum(temperatury)

137

In [426]:
min(temperatury)

17

In [427]:
max(temperatury)

31

In [428]:
import statistics

In [429]:
statistics.mean(temperatury)

22.833333333333332

In [430]:
statistics.median(temperatury)

20.5

### Instrukcje warunkowe
* sterowanie wykonaniem programu (if-y)

In [431]:
a=3
b=4

if a<b:
        print('Zmienna a jest mniejsza od b')
elif a>b:
        print('Zmienna a jest większa od b')
else:
        print('Zmienna a jest równa b')

Zmienna a jest mniejsza od b

In [432]:
if a == b:
    print('Zmienne sa równe')

In [433]:
#Tak żle 
#if a = b:
#    print('Zmienne sa równe')

### Zadanie ify

In [437]:
imie = 'Zuzia'
wzrost = 1.65
waga = 51
bmi = waga/wzrost**2
if bmi<18.5:
    print('Jedz więcej')
elif bmi>25:
    print('Jedz połowę')
else:
    print('Jest OK')

Jest OK

### Pętle
* for
* while

#### Pętla for

In [438]:
for i in range(10): #przedział otwarty
    print(i)

0
1
2
3
4
5
6
7
8
9

In [440]:
for element in range(2,10): #przedział [)
    print(element)

2
3
4
5
6
7
8
9

In [443]:
for element in range(2,10,2):
    print(element)

2
4
6
8

In [444]:
temperatury

[17, 18, 20, 21, 30, 31]

In [446]:
for element in temperatury:
    print('Temperatura wynosi {} '.format(element))

Temperatura wynosi 17
Temperatura wynosi 18
Temperatura wynosi 20
Temperatura wynosi 21
Temperatura wynosi 30
Temperatura wynosi 31

#### Pętla while

In [447]:
i=0
while i<10:
    print('Zmienna i wynosi {}'.format(i))
    i+=1

Zmienna i wynosi 0
Zmienna i wynosi 1
Zmienna i wynosi 2
Zmienna i wynosi 3
Zmienna i wynosi 4
Zmienna i wynosi 5
Zmienna i wynosi 6
Zmienna i wynosi 7
Zmienna i wynosi 8
Zmienna i wynosi 9

### List comprehension
* nawiasy __[]__

#### Stara metoda

In [448]:
lista_elementow = []

for i in range(100):
    lista_elementow.append(i)

In [449]:
len(lista_elementow)

100

In [450]:
for i in range(100):
    lista_elementow.append(i**2)

#### Nowa metoda - list comprehension

In [456]:
lista_elementow = [ i ** 2  for i in range(100)]

In [459]:
4 % 2

0

In [458]:
not 4 % 2

True

In [454]:
lista_elementow = [ i ** 2  for i in range(100) if not i % 2 ]

In [460]:
lista_elementow = [ i ** 2  if not i % 2 else 0 for i in range(100) ]

### Zadania list comprehension

#### Zadanie 1

In [476]:
lista_elementow = [ i ** 2 + 1 for i in range(1,41) if not (i ** 2 + 1 ) % 3 ]

#### Zadanie 2

In [469]:
lista_elementow = [ i ** 2 if not i % 2 else -300 for i in range(1,41) ]

### Dictionary comprehension

In [479]:
{i: chr(65+i) for i in range(30)}

{0: 'A',
 1: 'B',
 2: 'C',
 3: 'D',
 4: 'E',
 5: 'F',
 6: 'G',
 7: 'H',
 8: 'I',
 9: 'J',
 10: 'K',
 11: 'L',
 12: 'M',
 13: 'N',
 14: 'O',
 15: 'P',
 16: 'Q',
 17: 'R',
 18: 'S',
 19: 'T',
 20: 'U',
 21: 'V',
 22: 'W',
 23: 'X',
 24: 'Y',
 25: 'Z',
 26: '[',
 27: '\\',
 28: ']',
 29: '^'}

### Funkcje

In [480]:
def funkcja():
    print('Pierwsza funkcja')

In [481]:
funkcja()

Pierwsza funkcja

In [482]:
def funkcja2():
    return 'Druga funkcja'

In [491]:
a = funkcja2()

In [492]:
type(a)

str

In [493]:
a=funkcja()

Pierwsza funkcja

In [494]:
type(a)

NoneType

In [495]:
def suma_dwoch_liczb(a,b):
    return a + b

In [497]:
c = suma_dwoch_liczb(2,5)
print(c)

7

In [498]:
def oblicz_wartosc_f_liniowej(x, a=1, b=0):
    return a*x + b

In [499]:
oblicz_wartosc_f_liniowej(5)

5

In [500]:
oblicz_wartosc_f_liniowej(5,2)

10

### Zadanie funkcja

In [505]:
def imie():
    print('Martyna')
    return('Martyna')

In [506]:
imie()

Martyna

'Martyna'

In [507]:
imie()==None

Martyna

False

In [510]:
def bmi(imie, waga, wzrost):
    bmi = waga/wzrost**2
    if bmi<18.5:
        return('{} twoje bmi wynosi {} - Jedz więcej'.format(imie,bmi))
    elif bmi>25:
        return('{} twoje bmi wynosi {} - Jedz połowę'.format(imie,bmi))
    else:
        return('{} twoje bmi wynosi {} - Jest OK'.format(imie,bmi))

In [511]:
bmi('Ala',8,0.86)

'Ala twoje bmi wynosi 10.81665765278529 - Jedz więcej'

In [523]:
def srednie_zarobki(dzial,lista_zarobkow):
    return 'Średnia suma zarobków działu {} wynosi: {}'.format(dzial,round(sum(lista_zarobkow)/len(lista_zarobkow)))

In [524]:
srednie_zarobki('IT',[2000,4000,10000,11000])

'Średnia suma zarobków działu IT wynosi: 6750'

## Generatory
* bardzo podobne do list comprehension
* generatory potrzebne by oszczędzić pamięć
* przydatne dy pracujemy z dużą ilością danych
* Lazy Evaluation
* nawiasy __()__

In [526]:
(i for i in range(100))

In [527]:
result = (i for i in range(100))

In [535]:
print(result)

<generator object <genexpr> at 0x7f0d440d2b88>

In [533]:
next(result) # przy każdym odpaleniu pokazuje kolejną wartość z result

5

In [ ]:
for i in result:
    print(i)

In [536]:
next(result)

StopIteration:

In [537]:
r = [num for num in range (10 ** 8)]

MemoryError: